# Ignoring these files or directories

.git/
.gtkrc-2.0
.ssh/
Documents/
Sync/
.bash_history
.bash_logout
.bash_profile
.cache/
Downloads/
.fehbg
.gitconfig
git-repos/
.lesshst
.local/
.mozilla/
.pki
.viminfo
.wget-hsts
.Xauthority
wallpapers/
.xinitrc

# Inside of .config/
.config/BraveSoftware/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/Electron/
.config/htop/
.config/kde.org/
.config/keepassxc/
.config/kiorc
.config/nautilus/
.config/nitrogen/
.config/obsidian/
.config/picom/
.config/procps/
.config/pulse/
.config/QtProject.conf
.config/session/
.config/syncthing/
.config/wal/
.config/yay/
